<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://photos.tf1info.fr/images/1280/720/cinemasafp2020-c209b3-0@1x.jpeg);">
  <div class="container">
    <h1> Save <strong>any movie</strong>!</h1>
    <p>Stop spending hours looking for a movie to watch.</p>
  </div>
</div>
