 <% image_url = cl_image_path list.photo.key, height: 300, crop: :fill %>
<div class="banner" id="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url %>)">
  <div class="container">
    <div class="justify-content-center mt-4 ">
        <h1> <%= @list.name %> </h1>
    </div>
  </div>
</div>
