<div class="banner" id="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://photos.tf1info.fr/images/1280/720/cinemasafp2020-c209b3-0@1x.jpeg);">
  <div class="container">
    <div class="justify-content-center mt-4 ">
        <h1> <%= @list.name %> </h1>
    </div>
  </div>
</div>
